body {
  background: #1A2226;
  margin: 0;
  display: flex;
  justify-content: center;
}

div.main-container {
  text-align: center;
  position: absolute;
  top: 10%;
}

div.player-grid {
  display: grid;
  gap: 0 50px;
  grid-template-columns: 1fr 1fr;
}

h1 {
  margin: 0px 0px 15px 0px;
  color: white;
}

h2.player {
  order: 0;
  color: white;
}

img.dice {
  order: 1;
}