body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media (max-width:680px){
  div.card img {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  img.logo {
    height: 2rem;
  }
  
  div.card p {
    text-align: justify;
  }
}
@media (min-width: 681px){
  div.card {
    display: inline-block;
    width: 45%;
  }
  
  img.tile-image {
    width: 60%;
    float: left;
    margin-right: 3rem;
  }
  
  div.card p {
    display: inline;
  }
  
  div.card h2 {
    margin-top: 0;
  }

  div[class="left card"] {
    float: left;
  }

  div[class="right card"] {
    float: right;
  }
}
