:root {
  
}

body {
  background: url(background1.jpg) repeat 0 0;
  background-color: whitesmoke;
}

.filler {
  padding: 30% 0;
}

.cover-container {
  max-width: 42em;
}

.social-link {
  margin: 1em 0;
}

.social-svg {
  margin: 0 1em;
}